body {
    text-align: center;
}
#players {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
#players > div {
    height: 50px;
}
#results {
    height: 60px;
}