@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#mainbody {
    background-image: url(backgroundimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

/*Nav*/
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1A1D;
    color: white;
    height: 50px;
    padding: 20px;
}
#nav a {
    color: white;
}
#nav button {
    padding: 5px;
    margin-left: 7vw;
    width: 180px;
    font-size: 140%;
    outline: none;
    border: 2px solid white;
    background-color: #1A1A1D;
    border-radius: 10px;
    color: white;
    letter-spacing: 5px;
    transition: 500ms all;
}
#nav button:hover {
    border-color: #1A1A1D;
    cursor: pointer;
}
#nav h2 {
    font-weight: lighter;
    text-transform: lowercase;
    margin-right: 7vw;
    letter-spacing: 2px;
}


/*Main*/
#main h1 {
    font-size: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    width: 100vw;
}
#imgs img {
    width: 500px;
    padding: 50px;
}
#imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 50px;
}

@media only screen and (max-width: 700px) {
    #imgs img {
        width: 300px;
        padding: 10px;
    }
    #imgs {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #nav {
        flex-direction: column;
        justify-content: center;
        height: 100px;
        padding: 20px;
    }
    #nav button {
        margin-left: 0;
        width: 40vw;
        min-width: 150px;
        margin-bottom: 20px;
    }
    #nav button:hover {
        border-color: #1A1A1D;
        cursor: pointer;
    }
    #nav h2 {
        margin-right: 0;
        letter-spacing: 2px;
    }
    #main h1 {
        min-height: calc(100vh - 140px);
    }
}

@media only screen and (max-width: 300px) {
    #imgs img {
        width: 100px;
    }
}

